<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
        <style>
            ul {
                margin-bottom: 50px;
            }
        </style>
    </head>
    <body>
        <h3>Links</h3>
        <ul>
            <li><a href="/bcy-bank">BCY Bank</a></li>
            <li><a href="/bcy-faucet">BCY Faucet</a></li>
            <li><a href="/bcy-accounts">BCY Accounts</a></li>
        </ul>

        <ul>
            <li><a href="/eth-generate">ETH Random Wallet</a></li>
            <li><a href="/eth-bank">ETH Bank</a></li>
            <li><a href="/eth-faucet">ETH Faucet</a></li>
        </ul>

        <ul>
            <li><a href="/usdt-faucet">USDT Faucet</a></li>
        </ul>

    </body>
</html>